@{
    ViewData["Title"] = "Home Page";
    Layout = "Layout";
}

<br />
<br />
<br />
<br />
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<div id="elements">
    @if (User.IsInRole("Student") || User.IsInRole("Parent"))
    {
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <div class="row">
                <a asp-action="Profile" asp-controller="Student" class="col-md-4 col-xl-3">
                    <div class="card bg-c-blue order-card">
                        <div class="card-block">
                            <h6 class="m-b-20 text-white">Успех</h6>
                            <h2 class="text-right text-white"><i class="fa fa-arrow-circle-o-up f-left"></i><span id="success"></span></h2>
                        </div>
                    </div>
                </a>

                <a asp-action="Profile" asp-controller="Student" class="col-md-4 col-xl-3">
                    <div class="card bg-c-green order-card">
                        <div class="card-block">
                            <h6 class="m-b-20">Отсъствия</h6>
                            <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span id="absenceses"></span></h2>
                        </div>
                    </div>
                </a>

                <a asp-action="Profile" asp-controller="Student" class="col-md-4 col-xl-3">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-block">
                            <h6 class="m-b-20">Отзиви</h6>
                            <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span id="reviews"></span></h2>
                        </div>
                    </div>
                </a>

                <a asp-action="Profile" asp-controller="Student" class="col-md-4 col-xl-3">
                    <div class="card bg-c-pink order-card">
                        <div class="card-block">
                            <h6 class="m-b-20">Тестове</h6>
                            <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span id="tests"></span></h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
    @if (!User.IsInRole("Student") && !User.IsInRole("Parent") && !User.IsInRole("Teacher"))
    {
        <h3 style="color:red">Все още не си добавен в твоето училище!</h3>
    }
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(() => {
            // Fetch data from the API
            fetch('/api/statistics/GetStudentStatistics')
                .then(response => response.json())
                .then(data => {
                    // Update the UI with the new data
                    $('#success').text(data.success);
                    $('#absenceses').text(data.absenceses);
                    $('#reviews').text(data.reviews);
                    $('#tests').text(data.tests);
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        });
    </script>
}

<style>
    a {
        text-decoration: none;
    }

    h2 {
        text-align: right;
    }

    body {
        margin-top: 20px;
        background: #FAFAFA;
    }

    .order-card {
        color: #fff;
    }

    .bg-c-blue {
        background: linear-gradient(45deg,#4099ff,#73b4ff);
    }

    .bg-c-green {
        background: linear-gradient(45deg,#FF0000,#EE4B2B);
    }

    .bg-c-yellow {
        background: linear-gradient(45deg,#FFB64D,#ffcb80);
    }

    .bg-c-pink {
        background: linear-gradient(45deg,#9F2B68,#BF40BF);
    }


    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .card .card-block {
            padding: 25px;
        }

    .order-card i {
        font-size: 26px;
    }

    .f-left {
        float: left;
    }

    .f-right {
        float: right;
    }
</style>
