<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a class="btn btn-primary" asp-action="Statistics" asp-controller="Grade">View grade statistics</a>
<a class="btn btn-primary" asp-action="Students" asp-controller="Grade">View grade students</a>
