<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a class="btn btn-primary" asp-action="Statistics" asp-controller="Grade">Статистики на класа</a>
<a class="btn btn-primary" asp-action="Students" asp-controller="Grade">Ученици в класа</a>
