<br />
<br />
<br />
<br />
<br />
<br />
<br />
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<a class="btn btn-primary" asp-action="Statistics" asp-controller="Grade">Статистики на класа</a>
<a class="btn btn-primary" asp-action="Students" asp-controller="Grade">Ученици в класа</a>
