<div class="form-group col-md-12 offset-md-5">
    <br />
    <div class="form-group">
        <a asp-controller="School" asp-action="View" class="btn btn-primary btn-lg">View schools</a>
    </div>
    <br />
    <div class="form-group">
        <a asp-controller="School" asp-action="Add" class="btn btn-primary btn-lg">Add school</a>
    </div>
    <br />
</div>