@using Better_Shkolo.Models.Message;
@model MessageSendTeachersModel
<br />
<br />
<br />
<br />
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<div class="row grey-bg">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="SendTeachers" method="post">
            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" aria-required="true" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Content"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="mb-3">
                @if (User.IsInRole("Administrator"))
                {
                    <label asp-for="SendTeacherSchoolId">Училище</label>
                    <select asp-for="SendTeacherSchoolId" class="form-control">
                        @foreach (var option in Model.Schools)
                        {
                            <option value="@option.Id">@option.Name @option.City</option>
                        }
                    </select>
                }
            </div>
            <div class="mb-3 text-center">
                <input class="btn btn-primary" type="submit" />
            </div>
        </form>
    </div>
</div>
