@using Better_Shkolo.Models.School;
@model SchoolDisplayModel

<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">

<br />
<br />
<br />
<div class="grey-bg container-fluid">
    <a href="/School/Add" class="btn btn-primary">+</a>

    <div class="">
        @foreach (var school in Model.Schools)
        {
            <p class="list-group-item">
                @school.Name - @school.City
                <a href="/School/Delete/@school.Id" class="btn btn-danger">Изтрий</a>
                <a href="/School/Edit/@school.Id" class="btn btn-warning">Коригирай</a>
                <a href="/Teacher/Create/@school.Id" class="btn btn-primary">Добави учител</a>
                <a href="/Teacher/View/@school.Id" class="btn btn-primary">Учители</a>
                <a href="/Subject/Create/@school.Id" class="btn btn-primary">Добави предмет</a>
                <a href="/Subject/View/@school.Id" class="btn btn-primary">Предмети</a>
                <a href="/Grade/Create/@school.Id" class="btn btn-primary">Добави клас</a>
                <a href="/Grade/View/@school.Id" class="btn btn-primary">Класове</a>
                <a href="/Student/Add/@school.Id" asp-route-id="@school.Id" class="btn btn-primary">Добави ученик</a>
                <a href ="/Student/View/@school.Id" class="btn btn-primary">Ученици</a>
            </p>
        }
    </div>
</div>
