@using Better_Shkolo.Models.Subject;
@model SubjectViewModel

<h2>This action isn`t possible yet! First you have to chage these subject`s teacher by the edit button.</h2>

<div class="list-group">
    @foreach (var subject in Model.Subjects)
    {
        <p class="list-group-item list-group-item-action">
            @subject.Name
            <a asp-controller="Subject" asp-action="Delete" asp-route-id="@subject.Id" class="btn btn-danger">Delete</a>
            <a asp-controller="Subject" asp-action="Edit" asp-route-id="@subject.Id" class="btn btn-danger">Edit</a>
        </p>
    }
</div>