@using Better_Shkolo.Models.Grade;
@model GradeStatisticsModel
<div class="text-">
    <style>
        .card-success {
            background-color: blue;
            padding-right: 60px;
        }

        .card-absences {
            background-color: red;
            padding-right: 60px;
        }

        .card-review {
            background-color: gold;
            padding-right: 60px;
        }

        .card-tests {
            background-color: purple;
            padding-right: 60px;
        }

        .square-card {
            height: 0;
            padding-bottom: 50%;
            position: relative;
        }

            .square-card .card-body {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-end;
                padding: 10px;
            }

        .card-link {
            margin-bottom: 20px;
        }

        .ranking-square {
            width: 800px;
            height: 400px;
            border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 150px auto;
        }

        .student-position {
            text-align: center;
        }

        .position-row {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .position-space {
            width: 20px; /* Adjust the height as per your preference */
        }

        .student-position h1 {
            font-size: 24px;
        }
    </style><br />
    <br />
    <br />
    <br />
    <br />
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <div class="d-flex justify-content-center">
        <div class="col-6 col-md-3">
            <div class="card card-success square-card">
                <div class="card-body">
                    <h5 id="success" class="text-white text-right mb-0">@Math.Round(Model.Success, 2)</h5>
                    <p class="card-text text-white text-right">Среден успех</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card card-absences square-card">
                <div class="card-body">
                    <h5 id="absenceses" class="text-white text-right mb-0">@Model.Absences</h5>
                    <p class="card-text text-white text-right">Отсъствия</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card card-review square-card">
                <div class="card-body">
                    <h5 id="reviews" class="text-white text-right mb-0">@Model.Reviews</h5>
                    <p class="card-text text-white text-right">Отзива</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card card-tests square-card">
                <div class="card-body">
                    <h5 id="tests" class="text-white text-right mb-0">@Model.Tests</h5>
                    <p class="card-text text-white text-right">Тестове</p>
                </div>
            </div>
        </div>
    </div>
</div>
