@using Better_Shkolo.Models.Grade;
@model GradeViewModel

<div class="list-group">
    @foreach (var grade in Model.Grades)
    {
        <p class="list-group-item list-group-item-action">
            @grade.GradeName
            <a asp-controller="Grade" asp-action="Delete" asp-route-id="@grade.Id" class="btn btn-danger">Delete</a>
            <a asp-controller="Grade" asp-action="Edit" asp-route-id="@grade.Id" class="btn btn-secondary">Edit</a>
        </p>
    }
</div>