@using Better_Shkolo.Models.Test;
@model IEnumerable<TestDisplayModel>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="list-group">
    @foreach (var test in Model)
    {
        <p class="list-group-item list-group-item-action">
            @test.SubjectName |
            @foreach (var item in test.Tests)
            {
                <span>@item.TestDate |</span>
                <span>@item.TeacherName</span>
            }
        </p>
    }
</div>