@using Better_Shkolo.Models.Absence;
@model AbsencesAddModel

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<form method="post">
    <h3>Добавяне на отсъствие на @Model.FirstName @Model.LastName - @Model.Email ?</h3>
    <input asp-for="SubjectId" type="hidden"/>
    <input asp-for="SchoolId" type="hidden"/>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Добави</button>
    </div>
</form>