@using Better_Shkolo.Models.Absence;
@model IEnumerable<AbsencesesShowModel>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<div class="list-group">
    <h3>Absenceses</h3>
    @foreach (var absences in Model)
    {
        <div class="list-group-item list-group-item-action">
            @if (absences.ExcusedOn is not null)
            {
                <p>Добавено на: @absences.AddedOn</p>
                <p>Извинено на: @absences.ExcusedOn</p>
            }
            else
            {
                <p>Добавено на: @absences.AddedOn</p>
                <p id="not-excused">НЕ извинено!</p>
            }
        </div>
    }
</div>
<style>
    #not-excused{
        color: red;
    }
</style>