@using Better_Shkolo.Models.Absence;
@model IEnumerable<AbsencesesDisplayModel>
@{
    Layout = "Layout";
}
<br />
<br />
<br />
<br />
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<div class="list-group">
    @foreach (var absences in Model)
    {
        <p class="list-group-item list-group-item-action">
            @absences.SubjectName | <a class="btn btn-primary">@absences.Absenceses.Count</a> <a asp-action="Display" asp-controller="Absences" asp-route-subjectId="@absences.SubjectId">Виж</a>
        </p>
    }
</div>
