@using Better_Shkolo.Models.School;
@model SchoolViewModel

<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">

<br />
<br />
<br />

<p class="list-group-item">
    @Model.Name - @Model.City
    <a href="/School/Edit/@Model.Id" class="btn btn-warning">Коригирай</a>
    <a href="/Teacher/Create/@Model.Id" class="btn btn-primary">Добави учител</a>
    <a href="/Teacher/View/@Model.Id" class="btn btn-primary">Учители</a>
    <a href="/Subject/Create/@Model.Id" class="btn btn-primary">Добави предмет</a>
    <a href="/Subject/View/@Model.Id" class="btn btn-primary">Предмети</a>
    <a href="/Grade/Create/@Model.Id" class="btn btn-primary">Добави клас</a>
    <a href="/Grade/View/@Model.Id" class="btn btn-primary">Класове</a>
    <a href="/Student/Add/@Model.Id" asp-route-id="@Model.Id" class="btn btn-primary">Добави ученик</a>
    <a href="/Student/View/@Model.Id" class="btn btn-primary">Ученици</a>
</p>
