@using Better_Shkolo.Models.Mark;
@model MarkAddModel
<br />
<br />
<br />
<br />
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<h3 class="text-center">@ViewData["Title"]</h3>
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post">
            <div class="mb-3">
                <label asp-for="Value" class="form-label"></label>
                <input asp-for="Value" min="2" max="6" value="2" class="form-control" aria-required="true"  />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Term"></label>
                <select asp-for="Term" class="form-control">
                    <option value="1">Първи срок</option>
                    <option value="2">Втори срок</option>
                </select>
            </div>
            <input type="hidden" asp-for="StudentId" />
            <input type="hidden" asp-for="SubjectId" />
            <div class="mb-3 text-center">
                <input class="btn btn-primary" type="submit" />
            </div>
        </form>
    </div>
</div>

