@using Better_Shkolo.Models.Mark;
@model IEnumerable<MarkDisplayModel>

<div class="list-group">
    @foreach (var mark in Model)
    {
        <p class="list-group-item list-group-item-action">
            @mark.SubjectName |
            @foreach (var item in mark.Marks)
            {
                <span>@item.Value |</span>
                <span>@item.TeacherName</span>
            }
        </p>
    }
</div>
