@using Better_Shkolo.Models.Review;
@model IEnumerable<ReviewDisplayModel>
<br />
<br />
<br />
<br />
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<div class="list-group">
    @foreach (var review in Model)
    {
        <p class="list-group-item list-group-item-action">
            @review.SubjectName | @review.Reviews.Count <a asp-action="Show" asp-controller="Review" asp-route-subjectId="@review.SubjectId" asp-route-studentId="@review.StudentId" class="btn btn-primary">Виж</a>
        </p>
    }
</div>