@using Better_Shkolo.Models.Account;
@model LoginModel
@{
    ViewData["Title"] = "Вписване";
}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="/logof.png"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form method="post">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" asp-for="Email"></label>
                        <input type="email" id="loginName" class="form-control" asp-for="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" asp-for="Password"></label>
                        <input type="password" id="loginPassword" class="form-control" asp-for="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Вписване</button>
                </form>
                <div class="text-center">
                    <p>Нямаш регистрация? <a asp-action="Register" asp-controller="Account">Натисни тук</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
