@using Better_Shkolo.Models.Account;
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}
<br />
<br />
<br />
<br />
<br />
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<div class="container d-flex justify-content-center align-items-center">
    <div class="col-md-6 form-container">
        <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-register" data-mdb-toggle="pill" role="tab"
                   aria-controls="pills-register" aria-selected="false" asp-action="Login" asp-controller="Account">Вписване</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" role="tab"
                   aria-controls="pills-login" aria-selected="true" asp-action="Register" asp-controller="Account">Регистрация</a>
            </li>
        </ul>
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-register">
            <form>
                <h3>Регисриране в школо</h3>
                <div class="form-outline mb-4">
                    <label asp-for="FirstName" class="form-label" for="registerName"></label>
                    <input asp-for="FirstName" type="text" id="registerName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-outline mb-4">
                    <label asp-for="LastName" class="form-label" for="registerName"></label>
                    <input asp-for="LastName" type="text" id="registerName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-outline mb-4">
                    <label asp-for="Email" class="form-label" for="registerName"></label>
                    <input asp-for="Email" type="email" id="registerName" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-outline mb-4">
                    <label asp-for="Password" class="form-label" for="registerName"></label>
                    <input asp-for="Password" type="text" id="registerName" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-outline mb-4">
                    <label asp-for="PasswordRepeat" class="form-label" for="registerName"></label>
                    <input asp-for="PasswordRepeat" type="text" id="registerName" class="form-control" />
                    <span asp-validation-for="PasswordRepeat" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary btn-block mb-3">Регистриране</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>
    .form-container {
        background-color: #f0f0f0; /* Set the desired gray color */
        padding: 20px; /* Add some padding for better appearance */
        border-radius: 10px; /* Optional: Add border radius for rounded corners */
    }
</style>